<?xml version="1.0" encoding="UTF-8"?>
<web-app id="BatchDemo" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Batch Demo</display-name>
    <description>This is the batch app demo in IBM WAS Liberty.</description>
    <resource-ref>
        <description>Batch Demo DS</description>
        <res-ref-name>jdbc/BatchDemoDS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
